<!DOCTYPE HTML>
<!--
<p th:text="'El Estudiante matricula: '+${matricula}">...</p>
<#if usuario??>
            <#else>
            </#if>
-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${titulo}">Encore</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

	<!--Addonis-->
	<!--Addonis-->

</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<div class="inner">

			<!-- Logo -->
			<a href="/" class="logo">
				<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Arrendos</span>
			</a>

			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

		</div>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<h2>Menu</h2>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="login.html">Iniciar sesion</a></li>
			<li><a href="Regex.html">Registrar usuarios</a></li>
			<li><a href="generic.html">manejar inventario</a></li>
			<li><a href="/">Salir</a></li>
		</ul>
	</nav>

	<!-- Main -->
	<div id="main">
		<div class="inner">
			<header>
				<h1 th:text="${mensaje}">Encuesta</h1>
				<p th:text="'Etiam et nullam dolore.: '+${mensaje2}">Resultados</p>


			</header>

			<section>


				<!-- Charts Start-->
				
				<!-- Charts end-->

			</section>

			<section>
						<h1 th:text="${mensaje}">Como evaluaria esta entrega del Barcamp?</h1>
						<span class="image main"><img src="images/pic13.jpg" alt="" /></span>

				<form method="post" action="/encuesta">
					<div class="row gtr-uniform">


						<div class="col-12">
							<p>¿Las charlas donde usted participó cumplieron con sus expectativas?</p>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="1a" name="expectativas" value="1">
							<label for="1a">Muy en desacuerdo</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="2a" name="expectativas" value="2">
							<label for="2a">Desacuerdo</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="3a" name="expectativas" value="3">
							<label for="3a">Neutral</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="4a" name="expectativas" value="4">
							<label for="4a">De acuerdo</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="5a" name="expectativas" value="5">
							<label for="5a">Muy de acuerdo</label>
						</div>

						<div class="col-12">
							<p>¿Los expositores mostraron tener dominio del tema?</p>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="1b" name="dominio" value="1">
							<label for="1b">Muy en desacuerdo</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="2b" name="dominio" value="2">
							<label for="2b">Desacuerdo</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="3b" name="dominio" value="3">
							<label for="3b">Neutral</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="4b" name="dominio" value="4">
							<label for="4b">De acuerdo</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="5b" name="dominio" value="5">
							<label for="5c">Muy de acuerdo</label>
						</div>

						<div class="col-12">
							<p>¿Las instalaciones del evento fueron confortables para usted?</p>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="1c" name="confortables" value="1">
							<label for="1c">Muy en desacuerdo</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="2c" name="confortables" value="2">
							<label for="2c">Desacuerdo</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="3c" name="confortables" value="3">
							<label for="3c">Neutral</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="4c" name="confortables" value="4">
							<label for="4c">De acuerdo</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="radio" id="5c" name="confortables" value="5">
							<label for="5c">Muy de acuerdo</label>
						</div>

						<div class="col-12">
							<p>¿Tiene algún comentario para los organizadores?</p>
						</div>
						<div class="col-12">
							<textarea name="comentario" id="dcomentario" placeholder="Introduzca su comentario" rows="6"></textarea>
						</div>


						<!--Enviar -->
						<div class="col-6 col-12-small">
							<input type="checkbox" id="demo-human" name="demo-human" required>
							<label for="demo-human">No soy bot</label>
						</div>

						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" value="Enviar" class="primary" /></li>
							</ul>
						</div>
					</div>
				</form>

			</section>

		</div>
	</div>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<section>
				<h2 th:text="${ping}">Contacto</h2>
				<ul class="icons">
					<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
					<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
					<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
				</ul>
			</section>
			<ul class="copyright">
				<li> Copyright &copy; JJ-El Avionsito 2020. All rights reserved.</li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>