<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${titulo}">Logisticz</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
							<a href="/" class="logo">
								<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Arrendos</span>
							</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<div th:insert="fragments/nav.html :: menu"></div>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 th:text="${mensaje}">Session</h1>
								<p th:if="${error}!=null" th:text="'Error: '+${error}">...</p>
							</header>
							<section>
								<h2>Iniciar sesion</h2>
								<form method="post" modelAttribute="userForm" class="form-signin" action="/login">
									<div class="fields">
										<div class="field top">
											<input type="text" name="username" id="username" placeholder="Usuario" />
										</div>
										<div class="field bottom">
											<input type="password" name="password" id="password" placeholder="Contrasena" />
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Ingresar" class="button primary fit" /></li>
									</ul>
								</form>
							</section>
						</div>
					</div>

				<!-- Footer -->
				<div th:insert="fragments/foot.html :: footer"></div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>